.background-image{
    background-image: url(Hero-bg.png);}
    .jam{display: flex;
        justify-content: space-between;
        

        
    }
    .head{
        font-weight: bolder;
    }
    .video{
        text-align: center;
    }
    .more{display: flex;
        justify-content: space-between;
        
        grid-column: 32px;
    }
    .one{
        margin:74px 152px 148px 90px;
    padding: 80px 97px;
    }
.same{
    text-align: center;
    grid-column: 48px;
}
.h2{
    font-weight: bolder;
}
.hw{
    height: 240px;
    width: 240px;
}
.font{
    font-weight: 800;
}
.po{
    text-align: center;
}
.pi{
    text-align: center;
}
.btn-primary{
    text-align: center;
}
.special{
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
    gap: 20px;
}
.he{display: flex;
    justify-content: space-between;
    
    grid-column: 32px;
}
.hemi{
    
}
.hero{
    border-radius: 5px;
}
.ss{
    background-color: antiquewhite;
}
.sm{
    
    background-color: #004CE8;
}
.sc{
    background-color: #FFFFFF;
}
.hello{
    display: flex;
    justify-content: space-between;
    border-radius: 0cap;
}